*
{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}

:root
{
    --morado:#cc99cc;
    --rosado:#ffccff;
    --azul:#99cccc;
    --negro:#000000;
    --blanco:#ffffff;
    --naranja:#ff6633;
    --big-font: 3.2rem;
    --medium-font: 3rem;
    --p-font: 1.2rem;
}
header
{
    display: flex;
    position:fixed;
    width: 100%;
    height: 10%;
    z-index: 1000;
    background-color: #ffffff;
    justify-content: space-between;
    align-items: center;
}
section
{
    padding: 25px 0.5%;
}
.navbar
{
    display: flex;
}
.navbar a
{
    font-size: 1rem;
    padding: 5px 20px;
    color:var(--negro);
    font-weight: 500;
}
.navbar :hover
{
    color: #cc99cc;
}
header img
{
    width: 35%;
    position: relative;
    margin-top: 13px;
}
.container-inicio
{
    display: grid;
    position: relative;
    padding-top: 2.5%; 
    grid-template-columns:repeat(2,1fr);
    align-items: center;
}
.inicio-img
{
    order: 2;
}
.inicio-img img
{
    width: 170%;
    float: right;
}
.text span
{
    font-size: var(--medium-font);
    font-weight: 500;
    padding-left: 10%;
}
.text p
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: var(--p-font);
    font-weight: 400;
    margin: 0.7rem 0 1rem;
    padding-left: 10%;
}